@model IEnumerable<WADAssignment1.Models.Bag>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CategoryName)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CategoryNameSortParm">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParm">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSortParm">
                    @Html.DisplayNameFor(model => model.Price)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var imgUrl = @Href("~/images/bags/" + item.Image);
    var errImg = @Href("~/images/bags/default.jpg");
        <tr>
            <td>
                <img style="width: 250px; height: auto;" src="@imgUrl" alt="Student Image" onerror="this.onerror = null; this.src = '@errImg'">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierID)
            </td>
            <td>
                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ID">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Add To Cart
                </a>
            </td>

        </tr>
}
    </tbody>
</table>